.Study {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  .StudyItem {
    margin-bottom: 5px;
  }
  .Title {
    font-weight: bold;
  }
  .Icon {
    min-width: 30px;
  }
}
