@import "src/assets/scss/colors.scss";

#Curriculum {
  padding: 25px;
  margin-top: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px $shadow;
  margin-bottom: 100px;
  border-radius: 100px 0px 0px 0px;
  #Header {
    background-color: $backgroundDark;
    border-radius: 100px 0px 0px 100px;
  }

  .Profile {
    width: 100%;
    border-radius: 100%;
    border: 3px solid $secondary;
  }
}
