@import "src/assets/scss/colors.scss";

.Buttons {
  padding-top: 20px;
  padding-bottom: 20px;
  .Export {
    cursor: pointer;
    color: #7e6e35;
  }
}

#Curriculum {
  padding: 25px;
  margin-top: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px $shadow;
  margin-bottom: 100px;
  border-radius: 100px 0px 0px 0px;

  #Header {
    background-color: $backgroundDark;
    border-radius: 100px 0px 0px 100px;

    h2 {
      color: #7e6e35;
    }
  }

  .Profile {
    width: 100%;
    max-width: 110px;
    border-radius: 100%;
    border: 3px solid $secondary;
  }
}
