<div id="Curriculum">
  <div id='Header' class="grid">
    <div class="col-2">
      <img class="Profile" src="assets/images/profile.jpeg" alt="">
    </div>
    <div class="col-10">
      <h1>Luis González Seco</h1>
      <h2>Full Stack Developer</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-6">
          <app-personal-data></app-personal-data>
        </div>
        <div class="col-6">
          <app-studies></app-studies>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="grid">
        <div class="col-6">
          <app-experience></app-experience>
        </div>
        <div class="col-4 col-offset-2">
          <app-skills></app-skills>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <app-about-me></app-about-me>
    </div>
  </div>
</div>
