<div class="Buttons grid">
  <div class="col-6">
    <div class="Actions">
      <app-exporter [lang]="this.lang"></app-exporter>
    </div>
  </div>
  <div class="col-6">
    <div class="Languages">
      <label class="Language" (click)="setLanguage('es')" for="">Español</label>|<label class="Language"
        (click)="setLanguage('en')" for="">English</label>
    </div>
  </div>
</div>




<div #curriculum id="Curriculum">
  <div id='Header' class="grid">
    <div class="col-3 md:col-2">
      <img class="Profile" src="assets/images/profile.jpeg" alt="">
    </div>
    <div class="col-9 md:col-10">
      <h1>{{this.name}}</h1>
      <h2>{{this.position}}</h2>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-12">
      <app-introduction [lang]="this.lang"></app-introduction>
    </div>
    <div class="col-12 md:col-12">
      <div class="grid">
        <div class="col-12 md:col-6">
          <app-personal-data [lang]="this.lang"></app-personal-data>
        </div>
        <div class="col-12 md:col-6">
          <app-studies [lang]="this.lang"></app-studies>
        </div>
        <div class="col-12 md:col-8">
          <app-experience [lang]="this.lang"></app-experience>
        </div>

        <div class="col-12 md:col-3 col-12 md:col-offset-1">
          <app-skills [lang]="this.lang"></app-skills>
          <app-languages [lang]="this.lang"></app-languages>
          <app-about-me [lang]="this.lang"></app-about-me>
        </div>
      </div>
    </div>


  </div>
</div>
