@import "src/assets/scss/colors";

.PersonalItem {
  font-size: 16px;
  margin-bottom: 10px;
  div {
    display: inline-block;
  }

  .Icon {
    min-width: 30px;

    font-size: 14px;
  }
  .Label {
    font-size: 14px;
    margin-right: 5px;
    font-weight: bold;
    color: $secondary;
  }

  .Value {
    font-size: 14px;
    a {
      color: black;
    }
  }
}
