<div class="grid">
  <div class="col-12">
    <h3>Personal Information</h3>
    <div class="PersonalItem" *ngFor="let item of this.info">
      <div [class]="'Icon ' + item.icon.class">
        <i [class]="item.icon.value"></i>
      </div>
      <div class="Label">
        {{item.label}}
      </div>

      <div class="Value">
        <a *ngIf="item.isLink" [href]="item.value" target="_blank">
          {{item.value}}
        </a>
        <span *ngIf="!!!item.isLink">
          {{item.value}}
        </span>
      </div>
    </div>
  </div>
</div>
