@import "src/assets/scss/colors";

.Experience {
  .Position {
    color: $secondary;
    font-style: italic;
  }

  .Description {
    text-align: justify;
    justify-content: center;
    margin-top: 15px;
  }

  .Tasks {
    margin-top: 15px;
    .Title {
      font-weight: bold;
      color: $secondary;
    }
    .Task {
      text-align: justify;
      justify-content: center;
      margin-top: 10px;
    }

    .Stack {
      border-top: 1px dashed gray;
      padding-top: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      .Chip {
        margin-right: 10px;
      }
    }
  }
}
