<div class="grid">
  <div class="col-12">
    <h3>{{"EXPERIENCE" | translate}}</h3>
    <div class="Experience" *ngFor="let experience of this.experiences">
      <h4>
        {{experience.company}} / {{experience.start}} - {{experience.end}}
      </h4>
      <div class="Position">
        {{experience.position}}
      </div>
      <div class="Description">
        {{experience.description}}
      </div>
      <div class="Tasks">
        <div class="Title">
          Main tasks
        </div>
        <div class="Task" *ngFor="let task of experience.tasks">
          {{task}}
        </div>

        <div class="Stack">
          <div class="Chip" *ngFor="let tag of experience.stack">
            <div class="ImageWrapper">
              <img class="Image" [src]="'assets/images/stack/' + tag.image " alt="">
            </div>
            <span class="Name">
              {{tag.name}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
