.Experience {
  .Position {
    color: gray;
    font-style: italic;
  }

  .Description {
    text-align: justify;
    justify-content: center;
    margin-top: 15px;
  }

  .Tasks {
    margin-top: 15px;
    .Title {
      font-weight: bold;
    }
    .Task {
      text-align: justify;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
