@import "src/assets/scss/colors";

.Experience {
  .Position {
    color: $secondary;
    font-style: italic;
  }

  .Description {
    text-align: justify;
    justify-content: center;
    margin-top: 15px;
  }

  .Tasks {
    margin-top: 15px;
    .Title {
      font-weight: bold;
      color: $secondary;
      margin-bottom: 10px;
    }
    .Task {
      text-align: justify;
      justify-content: center;
      display: list-item;
      margin-left: 10px;
    }

    .Stack {
      padding-top: 10px;
      margin-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid black;
      display: inline-block;
      width: 100%;
      .Chip {
        display: inline-block;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 4px;
        padding-top: 4px;

        padding-right: 10px;
        margin-right: 10px;
        background-color: rgb(216, 216, 216);
        border-radius: 20px 20px 20px 20px;
        .ImageWrapper {
          display: inline-block;
          .Image {
            background-color: white;
            border-radius: 100%;
            width: 20px;
            height: 20px;
          }
        }
        .Name {
          display: inline-block;
          color: black;
          font-size: 12px;
          margin-left: 10px;
          padding-right: 10px;
          vertical-align: top;
          margin-top: 3px;
        }
      }
    }
  }
}
